@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--background);
  color: var(--black);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}
:root {
  --background: #e8eef1;
  --white: #f4f4f4;
  --black: #1b1b1b;
  --grey: #2c2c2c;
  --red: #dc143c;
  --green: #00ff99;
  --blue: #5eb5f2;
  --bg-animation-1: #5b62df;
  --bg-animation-2: #fd0065;
}

p {
  margin: 10px;
}

.under-title {
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-right: solid 2px var(--green);
  white-space: nowrap;
  overflow: hidden;
  color: var(--grey);
  max-width: fit-content;
}

/* Animation */
.under-title {
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
  animation-delay: 1s;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 472px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: var(--green);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes cursor-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* GLITCH ANIMATION TEXT */
/* Code from https://codeconvey.com/glitch-text-effect-using-css/ */

.medium {
  font-size: 3em;
  font-weight: 400;
  letter-spacing: 2px;
}
/* 
.glitch {
  color: white;
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  font-family: "Dosis", sans-serif;
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: #1b1b1b;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: #1b1b1b;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
} */
/* 
@keyframes noise-anim {
  0% {
    clip: rect(88px, 9999px, 98px, 0);
  }

  5% {
    clip: rect(39px, 9999px, 2px, 0);
  }

  10% {
    clip: rect(11px, 9999px, 17px, 0);
  }

  15% {
    clip: rect(37px, 9999px, 22px, 0);
  }

  20% {
    clip: rect(85px, 9999px, 2px, 0);
  }

  25% {
    clip: rect(45px, 9999px, 15px, 0);
  }

  30% {
    clip: rect(62px, 9999px, 36px, 0);
  }

  35% {
    clip: rect(77px, 9999px, 36px, 0);
  }

  40% {
    clip: rect(79px, 9999px, 81px, 0);
  }

  45% {
    clip: rect(51px, 9999px, 82px, 0);
  }

  50% {
    clip: rect(72px, 9999px, 61px, 0);
  }

  55% {
    clip: rect(49px, 9999px, 68px, 0);
  }

  60% {
    clip: rect(46px, 9999px, 19px, 0);
  }

  65% {
    clip: rect(56px, 9999px, 57px, 0);
  }

  70% {
    clip: rect(19px, 9999px, 81px, 0);
  }

  75% {
    clip: rect(48px, 9999px, 44px, 0);
  }

  80% {
    clip: rect(14px, 9999px, 93px, 0);
  }

  85% {
    clip: rect(24px, 9999px, 48px, 0);
  }

  90% {
    clip: rect(2px, 9999px, 47px, 0);
  }

  95% {
    clip: rect(87px, 9999px, 100px, 0);
  }

  100% {
    clip: rect(50px, 9999px, 59px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(95px, 9999px, 2px, 0);
  }

  5% {
    clip: rect(95px, 9999px, 92px, 0);
  }

  10% {
    clip: rect(19px, 9999px, 86px, 0);
  }

  15% {
    clip: rect(3px, 9999px, 31px, 0);
  }

  20% {
    clip: rect(70px, 9999px, 4px, 0);
  }

  25% {
    clip: rect(29px, 9999px, 55px, 0);
  }

  30% {
    clip: rect(70px, 9999px, 80px, 0);
  }

  35% {
    clip: rect(1px, 9999px, 20px, 0);
  }

  40% {
    clip: rect(48px, 9999px, 52px, 0);
  }

  45% {
    clip: rect(53px, 9999px, 18px, 0);
  }

  50% {
    clip: rect(1px, 9999px, 28px, 0);
  }

  55% {
    clip: rect(40px, 9999px, 54px, 0);
  }

  60% {
    clip: rect(62px, 9999px, 60px, 0);
  }

  65% {
    clip: rect(94px, 9999px, 36px, 0);
  }

  70% {
    clip: rect(79px, 9999px, 16px, 0);
  }

  75% {
    clip: rect(66px, 9999px, 5px, 0);
  }

  80% {
    clip: rect(63px, 9999px, 22px, 0);
  }

  85% {
    clip: rect(36px, 9999px, 57px, 0);
  }

  90% {
    clip: rect(38px, 9999px, 69px, 0);
  }

  95% {
    clip: rect(38px, 9999px, 91px, 0);
  }

  100% {
    clip: rect(18px, 9999px, 48px, 0);
  }
} */

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1em;
  justify-content: center;
}

.container {
  background: var(--background);
  width: 80vw;
  /* -webkit-box-shadow: -2px 3px 0 #0000ff5d, 2px -3px 0 #ff00005d;
  box-shadow: -2px 3px 0 #0000ff5d, 2px -3px 0 #ff00005d; */
}

.banner-container {
  position: relative;
  top: 0;
  left: 0;
  min-height: 300px;
  margin-bottom: 6.5em;
}

.banner {
  background-image: url("/assets/banner-img.jpg");
  position: relative;
  background-position: center;
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  height: 300px;
  position: relative;
  top: 0;
  left: 0;
  clip-path: polygon(100% 0, 100% 70%, 50% 100%, 50% 100%, 0% 70%, 0 0);
}
.pfp-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 25%;
}

.pfp {
  cursor: pointer;
  border-radius: 50%;
  position: inherit;
  max-width: 300px;
  outline: 1px solid var(--black);
}

.info-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.name {
  margin-top: 20px;
  font-size: 2.5em;
  letter-spacing: 0.1em;
}

.title {
  margin: 10px;
  font-size: 1em;
  font-weight: 700;
}

.name-container {
  max-width: 200px;
  margin: 0 auto;
}

a,
a:hover {
  text-decoration: none;
}
.social-list {
  display: flex;
  justify-content: center;
}
.social-list ul {
  padding: 0;
}
.social-list li {
  display: inline-block;
  margin: 10px 5px;
}
.social-list .fa,
.fab {
  color: #000;
  background-color: var(--background);
  border: 1px solid var(--black);
  border-radius: 25px;
  width: 50px;
}

.social-media {
  margin: 20px auto;
  padding: 20px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.social-media h3 {
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.social-media a,
i {
  font-size: 1.5em;
  text-decoration: none;
  padding: 15px 10px 15px 10px;
  transition: 0.2s ease-in-out;
}

.social-media a:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: 0.2s ease-in-out;
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--black);
}

.discord-btn {
  cursor: pointer;
  background: none;
  border: none;
  transition: 0.2s ease-in-out;
  display: inline-block;
  padding: 0;
}

.discord-btn:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: 0.2s ease-in-out;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.pimg1 {
  margin: 30px 20px auto;
  background-image: url(/assets/pimg1.jpg);
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}

.pText {
  text-align: center;
  font-size: 49px;
}

.about-container {
  display: flex;
  background: var(--background);
  max-width: 910px;
  margin: 0 auto;
  border-radius: 5px;
  flex-wrap: wrap;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 25px 25px 10px 10px;
  -moz-border-radius: 25px 25px 10px 10px;
  border-radius: 25px 25px 10px 10px;
}
.background-element {
  background-color: #5b62df;
  width: 100vw;
  height: 200px;
  -moz-transform: scale(1.8) skew(-40deg, 10deg);
  -webkit-transform: scale(1.8) skew(-40deg, 10deg);
  -o-transform: scale(1.8) skew(-40deg, 10deg);
  -ms-transform: scale(1.8) skew(-40deg, 10deg);
  transform: scale(1.8) skew(-40deg, 10deg);
  z-index: 0;
  position: absolute;
}
.about-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0.5em;
  width: 100%;
  background: #5eb4f26b;
  -webkit-border-radius: 25px 25px 0px 0px;
  -moz-border-radius: 25px 25px 0px 0px;
  border-radius: 25px 25px 0px 0px;
}
.pitch {
  padding: 20px;
  margin: 0 auto;
}
.pitch p {
  margin: 20px;
}

.hidden {
  display: none;
}

/* PORTFOLIO PROJECTS */
/* Code By Tenzing Gaychey https://codepen.io/tgaychey/pen/PROMVy */
.content-wrapper {
  margin: 0 auto;
  max-width: 950px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5rem;
}

.news-card {
  margin: 0.5rem;
  position: relative;
  height: 12rem;
  overflow: hidden;
  border-radius: 0.5rem;
  flex: 1;
  min-width: 290px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

@media (min-width: 900px) {
  .news-card {
    height: 20rem;
  }
}

.news-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0)
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
  z-index: 0;
}

.news-card__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.news-card__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: -1;
}

.news-card__text-wrapper {
  position: absolute;
  bottom: 0rem;
  padding: 1rem;
  color: var(--white);
  transition: background-color 1.5s ease;
}

.news-card__title {
  transition: color 1s ease;
  margin-bottom: 0.5rem;
}

.news-card__post-date {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  color: var(--white);
  font-weight: 400;
}

.news-card__details-wrapper {
  max-height: 0;
  opacity: 0;
  transition: max-height 1.5s ease, opacity 1s ease;
}

@media (min-width: 900px) {
  .news-card:hover .news-card__details-wrapper {
    max-height: 20rem;
    opacity: 1;
  }
  .news-card:hover .news-card__text-wrapper {
    background-color: rgba(0, 0, 0, 0.726);
  }
  .news-card:hover .news-card__title {
    color: var(--green);
  }
  .news-card:hover .news-card__image {
    transform: scale(1.2);
    z-index: -1;
  }
}

.news-card__excerpt {
  font-weight: 300;
}

.news-card__read-more {
  background: black;
  color: #bbb;
  display: block;
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  border: 1px solid #444;
  font-size: 0.8rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-decoration: none;
  width: 7rem;
  margin-left: auto;
  position: relative;
  z-index: 5;
}

.news-card__read-more i {
  position: relative;
  left: 0.2rem;
  color: var(--white);
  transition: left 0.5s ease, color 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.news-card__read-more:hover i {
  left: 0.5rem;
  color: var(--green);
}

.content-wrapper i {
  padding: 0;
  margin: 0;
  background: none;
}

/* ANIMATED BACKGROUND  */
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    var(--bg-animation-1) 50%,
    var(--bg-animation-2) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
/* MOBILE */
@media only screen and (max-width: 600px) {
  .container {
    width: 100vw;
  }
  .banner {
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 50% 100%, 0% 90%, 0 0);
  }
  .under-title {
    font-size: 1.5em;
  }
  .main-container {
    margin: 0;
  }
  .about-container {
    padding: 30px 20px 30px 20px;
  }
  .pitch {
    padding: 0;
  }
  .fun-facts {
    margin: 0;
  }
}
