@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--background);
  color: var(--black);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

:root {
  --body-color: #212529;
  --body-bg: #e8eef1;
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #1abc9c;
  --cyan: #0dcaf0;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --primary: #1abc9c;
  --secondary: #2c3e50;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529;
  --light-green: #00ff99;
  --light-blue: #5eb5f2;
  --bg-animation-1: #5b62df;
  --bg-animation-2: #fd0065;
}
:root {
  --navbar-bg-color: #262626;
  --navbar-text-color: #d9d9d9;
  --navbar-text-color-focus: #0d6efd;
  --navbar-bg-contrast: #404040;
}
p {
  margin: 10px;
}

.under-title {
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-right: solid 2px var(--light-green);
  white-space: nowrap;
  overflow: hidden;
  color: var(--body-color);
  max-width: fit-content;
  /*-------------Animation-------------*/

  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
  animation-delay: 1s;
}

/*-------------Text Animation-------------*/

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 472px;
  }
}

/*-------------Cursor Animation-------------*/

@keyframes animated-cursor {
  from {
    border-right-color: var(--light-green);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes cursor-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.medium {
  font-size: 3em;
  font-weight: 400;
  letter-spacing: 2px;
}

.home-link img {
  width: 50px;
  border-radius: 50px;
}
.home-link span {
  margin: 0 10px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/*-------------Navigation-------------*/
.nav-container {
  max-width: 1000px;
  padding: 0 1.4rem;
  margin: 0 auto;
}
#navbar {
  position: fixed;
  height: 64px;
  background-color: var(--body-bg);
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.navbar-item {
  margin: 0.4em;
  width: 100%;
}

.home-link,
.navbar-link {
  color: var(--dark);
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.home-link:is(:focus, :hover) {
  color: var(--dark);
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 1.4em 0.8em;
  border-radius: 5px;
  text-transform: uppercase;
}

.navbar-link:is(:focus, :hover) {
  color: var(--blue);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: 0.2s ease-in-out;
  /* background-color: var(--navbar-bg-contrast); */
}

.navbar-logo {
  background-color: var(--navbar-text-color-focus);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-inline-start: 0.5em;
}

#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--navbar-text-color);
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: var(--navbar-text-color-focus);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}

#navbar-menu {
  position: fixed;
  top: 64px;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}

.navbar-links {
  list-style: none;
  position: absolute;
  background-color: var(--body-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}

.navbar-links {
  list-style: none;
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--body-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 700px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] + #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}

/*------------- Content-------------*/
section {
  margin-bottom: 2em;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  background: var(--body-bg);
  width: 80vw;
  margin-top: 4em;
}

.banner-container {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 6.5em;
}

.banner {
  background-image: url("/assets/banner-img.jpg");
  position: relative;
  background-position: center;
  background-size: cover;
  height: 250px;
  position: relative;
  top: 0;
  left: 0;
  clip-path: polygon(100% 0, 100% 70%, 50% 100%, 50% 100%, 0% 70%, 0 0);
}

.pfp-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 25%;
}

.pfp {
  cursor: pointer;
  border-radius: 50%;
  position: inherit;
  max-width: 250px;
  outline: 1px solid var(--dark);
  transition: ease-in-out 1s;
}

.info-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.name {
  margin-top: 20px;
  font-size: 2.5em;
  letter-spacing: 0.1em;
}

.title {
  margin: 10px;
  font-size: 1em;
  font-weight: 700;
}

.name-container {
  max-width: 200px;
  margin: 0 auto;
}

a,
a:hover {
  text-decoration: none;
}
.social-list {
  display: flex;
  justify-content: center;
  text-align: center;
}
.social-list ul {
  padding: 0;
}
.social-list li {
  display: inline-block;
  margin: 10px 5px;
}
.social-list .fa,
.fab {
  color: var(--dark);
  background-color: var(--body-bg);
  border: 1px solid var(--dark);
  border-radius: 25px;
  width: 50px;
}

.social-media {
  margin: 20px auto;
  padding: 20px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.social-media h3 {
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.social-media a,
i {
  font-size: 1.5em;
  text-decoration: none;
  padding: 15px 10px 15px 10px;
  transition: 0.2s ease-in-out;
}

.social-media a:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: 0.2s ease-in-out;
  background-color: var(--dark);
  color: var(--white);
  border: 1px solid var(--dark);
}

.discord-btn {
  cursor: pointer;
  background: none;
  border: none;
  transition: 0.2s ease-in-out;
  display: inline-block;
  padding: 0;
}

.discord-btn:hover i {
  background-color: var(--dark);
  color: var(--white);
  border: 1px solid var(--dark);
}
.discord-btn:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: 0.2s ease-in-out;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.pimg1 {
  margin: 30px 20px auto;
  background-image: url(/assets/pimg1.jpg);
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}

.pText {
  text-align: center;
  font-size: 49px;
}

.about-container {
  display: flex;
  background: var(--body-bg);
  max-width: 80vw;
  margin: 0 auto;
  border-radius: 5px;
  flex-wrap: wrap;
}
.background-element {
  width: 100vw;
  height: 200px;
  -moz-transform: scale(1.8) skew(-40deg, 10deg);
  -webkit-transform: scale(1.8) skew(-40deg, 10deg);
  -o-transform: scale(1.8) skew(-40deg, 10deg);
  -ms-transform: scale(1.8) skew(-40deg, 10deg);
  transform: scale(1.8) skew(-40deg, 10deg);
  z-index: 0;
  position: absolute;
}
.about-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0.5em;
  width: 100%;
}
.pitch {
  padding: 30px;
  margin: 30px;
  /* max-width: 80vw; */
  background: var(--gray-300);
  border-radius: 15px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.pitch p {
  margin: 20px;
}

.hidden {
  display: none;
}

/* -------------PORTFOLIO PROJECTS------------- */
/* Code By Tenzing Gaychey https://codepen.io/tgaychey/pen/PROMVy */
.content-wrapper {
  margin: 0 auto;
  max-width: 950px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5rem;
}

.news-card {
  margin: 0.5rem;
  position: relative;
  height: 12rem;
  overflow: hidden;
  border-radius: 0.5rem;
  flex: 1;
  min-width: 290px;
  /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5); */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

@media (min-width: 900px) {
  .news-card {
    height: 20rem;
  }
}

.news-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0)
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
  z-index: 0;
}

.news-card__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.news-card__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: -1;
}

.news-card__text-wrapper {
  position: absolute;
  bottom: 0rem;
  padding: 1rem;
  color: var(--white);
  text-shadow: 2px 2px 2px #000000;
  transition: background-color 1.5s ease;
}

.news-card__title {
  transition: color 1s ease;
  margin-bottom: 0.5rem;
}

.news-card__post-date {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  color: var(--white);
  font-weight: 400;
}

.news-card__details-wrapper {
  max-height: 0;
  opacity: 0;
  transition: max-height 1.5s ease, opacity 1s ease;
}

@media (min-width: 900px) {
  .news-card:hover .news-card__details-wrapper {
    max-height: 20rem;
    opacity: 1;
  }
  .news-card:hover .news-card__text-wrapper {
    background-color: rgba(0, 0, 0, 0.726);
  }
  .news-card:hover .news-card__title {
    color: var(--light-blue);
  }
  .news-card:hover .news-card__image {
    transform: scale(1.2);
    z-index: -1;
  }
}

.news-card__excerpt {
  font-weight: 300;
}

.news-card__read-more {
  background: black;
  color: #bbb;
  display: block;
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  border: 1px solid var(--gray-800);
  font-size: 0.8rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-decoration: none;
  width: 7rem;
  margin-left: auto;
  position: relative;
  z-index: 5;
}

.news-card__read-more i {
  position: relative;
  left: 0.2rem;
  color: var(--white);
  transition: left 0.5s ease, color 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.news-card__read-more:hover i {
  left: 0.5rem;
  color: var(--light-blue);
}

.content-wrapper i {
  padding: 0;
  margin: 0;
  background: none;
}

/* -------------ANIMATED BACKGROUND-------------  */
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    var(--bg-animation-1) 50%,
    var(--bg-animation-2) 50%
  );
  /* background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 50%,
    #ffcc70 100%
  ); */
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

/* MOBILE */
@media only screen and (max-width: 700px) {
  .container {
    width: 100vw;
  }
  .banner {
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 50% 100%, 0% 90%, 0 0);
  }
  .under-title {
    font-size: 1.5em;
  }
  .main-container {
    margin: 0;
  }
  .about-container {
    padding: 30px 20px 30px 20px;
  }
  .pitch {
    padding: 0;
    max-width: 100%;
  }
  .fun-facts {
    margin: 0;
  }
  .navbar-item {
    width: 90%;
  }
  .effect {
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    -moz-transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
    border-radius: 15px;
  }
  .effect a {
    border-radius: 15px;
    -moz-transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }
  .effect:hover {
    background-position: 0;
  }
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}
form input,
form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus,
form textarea:focus {
  -moz-box-shadow: 0 0px 2px var(--blue) !important;
  -webkit-box-shadow: 0 0px 2px var(--blue) !important;
  box-shadow: 0 0px 2px var(--blue) !important;
}
form #input-submit {
  color: white;
  background: var(--blue);
  cursor: pointer;
}
form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
form textarea {
  height: 151px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
.contact-form:before,
.contact-form:after {
  content: " ";
  display: table;
}

.contact-form:after {
  clear: both;
}
