@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--background);
  color: var(--black);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}
/* :root {
  --background: #e8eef1;
  --white: #f4f4f4;
  --black: #1b1b1b;
  --grey: #2c2c2c;
  --red: #dc143c;
 

} */

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

:root {
  --body-color: #212529;
  --body-bg: #e8eef1;
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #1abc9c;
  --cyan: #0dcaf0;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --primary: #1abc9c;
  --secondary: #2c3e50;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529;
  --light-green: #00ff99;
  --light-blue: #5eb5f2;
  --bg-animation-1: #5b62df;
  --bg-animation-2: #fd0065;
}

p {
  margin: 10px;
}

.under-title {
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-right: solid 2px var(--light-green);
  white-space: nowrap;
  overflow: hidden;
  color: var(--body-color);
  max-width: fit-content;
}

/* Animation */
.under-title {
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
  animation-delay: 1s;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 472px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: var(--light-green);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes cursor-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.medium {
  font-size: 3em;
  font-weight: 400;
  letter-spacing: 2px;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1em;
  justify-content: center;
}

.container {
  background: var(--body-bg);
  width: 80vw;
  /* -webkit-box-shadow: -2px 3px 0 #0000ff5d, 2px -3px 0 #ff00005d;
  box-shadow: -2px 3px 0 #0000ff5d, 2px -3px 0 #ff00005d; */
}

.banner-container {
  position: relative;
  top: 0;
  left: 0;
  min-height: 300px;
  margin-bottom: 6.5em;
}

.banner {
  background-image: url("/assets/banner-img.jpg");
  position: relative;
  background-position: center;
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  height: 300px;
  position: relative;
  top: 0;
  left: 0;
  clip-path: polygon(100% 0, 100% 70%, 50% 100%, 50% 100%, 0% 70%, 0 0);
}
.pfp-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 25%;
}

.pfp {
  cursor: pointer;
  border-radius: 50%;
  position: inherit;
  max-width: 300px;
  outline: 1px solid var(--dark);
}

.info-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.name {
  margin-top: 20px;
  font-size: 2.5em;
  letter-spacing: 0.1em;
}

.title {
  margin: 10px;
  font-size: 1em;
  font-weight: 700;
}

.name-container {
  max-width: 200px;
  margin: 0 auto;
}

a,
a:hover {
  text-decoration: none;
}
.social-list {
  display: flex;
  justify-content: center;
}
.social-list ul {
  padding: 0;
}
.social-list li {
  display: inline-block;
  margin: 10px 5px;
}
.social-list .fa,
.fab {
  color: var(--dark);
  background-color: var(--body-bg);
  border: 1px solid var(--dark);
  border-radius: 25px;
  width: 50px;
}

.social-media {
  margin: 20px auto;
  padding: 20px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.social-media h3 {
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.social-media a,
i {
  font-size: 1.5em;
  text-decoration: none;
  padding: 15px 10px 15px 10px;
  transition: 0.2s ease-in-out;
}

.social-media a:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: 0.2s ease-in-out;
  background-color: var(--dark);
  color: var(--white);
  border: 1px solid var(--dark);
}

.discord-btn {
  cursor: pointer;
  background: none;
  border: none;
  transition: 0.2s ease-in-out;
  display: inline-block;
  padding: 0;
}

.discord-btn:hover i {
  background-color: var(--dark);
  color: var(--white);
  border: 1px solid var(--dark);
}
.discord-btn:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: 0.2s ease-in-out;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.pimg1 {
  margin: 30px 20px auto;
  background-image: url(/assets/pimg1.jpg);
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}

.pText {
  text-align: center;
  font-size: 49px;
}

.about-container {
  display: flex;
  /* background: var(--background); */
  max-width: 910px;
  margin: 0 auto;
  border-radius: 5px;
  flex-wrap: wrap;
  /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 25px 25px 10px 10px;
  -moz-border-radius: 25px 25px 10px 10px;
  border-radius: 25px 25px 10px 10px; */
}
.background-element {
  /* background-color: #5b62df; */
  width: 100vw;
  height: 200px;
  -moz-transform: scale(1.8) skew(-40deg, 10deg);
  -webkit-transform: scale(1.8) skew(-40deg, 10deg);
  -o-transform: scale(1.8) skew(-40deg, 10deg);
  -ms-transform: scale(1.8) skew(-40deg, 10deg);
  transform: scale(1.8) skew(-40deg, 10deg);
  z-index: 0;
  position: absolute;
}
.about-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0.5em;
  width: 100%;
  /* background: #5eb4f26b;
  -webkit-border-radius: 25px 25px 0px 0px;
  -moz-border-radius: 25px 25px 0px 0px;
  border-radius: 25px 25px 0px 0px; */
}
.pitch {
  padding: 20px;
  margin: 0 auto;
  max-width: 80vw;
}
.pitch p {
  margin: 20px;
}

.hidden {
  display: none;
}

/* PORTFOLIO PROJECTS */
/* Code By Tenzing Gaychey https://codepen.io/tgaychey/pen/PROMVy */
.content-wrapper {
  margin: 0 auto;
  max-width: 950px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5rem;
}

.news-card {
  margin: 0.5rem;
  position: relative;
  height: 12rem;
  overflow: hidden;
  border-radius: 0.5rem;
  flex: 1;
  min-width: 290px;
  /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5); */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

@media (min-width: 900px) {
  .news-card {
    height: 20rem;
  }
}

.news-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0)
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
  z-index: 0;
}

.news-card__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.news-card__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: -1;
}

.news-card__text-wrapper {
  position: absolute;
  bottom: 0rem;
  padding: 1rem;
  color: var(--white);
  transition: background-color 1.5s ease;
}

.news-card__title {
  transition: color 1s ease;
  margin-bottom: 0.5rem;
}

.news-card__post-date {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  color: var(--white);
  font-weight: 400;
}

.news-card__details-wrapper {
  max-height: 0;
  opacity: 0;
  transition: max-height 1.5s ease, opacity 1s ease;
}

@media (min-width: 900px) {
  .news-card:hover .news-card__details-wrapper {
    max-height: 20rem;
    opacity: 1;
  }
  .news-card:hover .news-card__text-wrapper {
    background-color: rgba(0, 0, 0, 0.726);
  }
  .news-card:hover .news-card__title {
    color: var(--light-blue);
  }
  .news-card:hover .news-card__image {
    transform: scale(1.2);
    z-index: -1;
  }
}

.news-card__excerpt {
  font-weight: 300;
}

.news-card__read-more {
  background: black;
  color: #bbb;
  display: block;
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  border: 1px solid var(--gray-800);
  font-size: 0.8rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-decoration: none;
  width: 7rem;
  margin-left: auto;
  position: relative;
  z-index: 5;
}

.news-card__read-more i {
  position: relative;
  left: 0.2rem;
  color: var(--white);
  transition: left 0.5s ease, color 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.news-card__read-more:hover i {
  left: 0.5rem;
  color: var(--light-blue);
}

.content-wrapper i {
  padding: 0;
  margin: 0;
  background: none;
}

/* ANIMATED BACKGROUND  */
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    var(--bg-animation-1) 50%,
    var(--bg-animation-2) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

/* MOBILE */
@media only screen and (max-width: 600px) {
  .container {
    width: 100vw;
  }
  .banner {
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 50% 100%, 0% 90%, 0 0);
  }
  .under-title {
    font-size: 1.5em;
  }
  .main-container {
    margin: 0;
  }
  .about-container {
    padding: 30px 20px 30px 20px;
  }
  .pitch {
    padding: 0;
    max-width: 100%;
  }
  .fun-facts {
    margin: 0;
  }
}
